<section id="appointment" class="bg-white py-16 md:py-24">

  <!-- Brown Frame -->
  <div class="max-w-7xl mx-auto bg-brand-chocolate p-6 md:p-10">

    <!-- White Card -->
    <div class="bg-white
             max-w-5xl mx-auto
             grid grid-cols-1 md:grid-cols-2
             gap-10 md:gap-14
             p-6 sm:p-8 md:p-12
             shadow-xl">

      <!-- LEFT IMAGE -->
      <div class="flex justify-center md:justify-start">
        <img src="assets/services/premium_treatment.png" alt="Beauty Model"
          class="w-full max-w-[320px] md:max-w-[360px] object-cover" />
      </div>

      <!-- RIGHT FORM -->
      <div>

        <span class="text-xs tracking-widest text-brand-brown uppercase">
          Beauty Salon
        </span>

        <h2 class="font-serif text-2xl md:text-3xl text-black mt-2 mb-1">
          Book appointment
        </h2>

        <p class="text-sm text-gray-500 mb-6">
          Glow Starts with a Booking...
        </p>

        <form class="space-y-4" [formGroup]="bookingForm" (ngSubmit)="submitForm()">

          <!-- First & Last Name -->
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <div>
              <label class="text-xs text-gray-600">First name</label>
              <input type="text" placeholder="First name" formControlName="firstName"
                class="w-full border border-gray-400 px-3 py-2 text-sm outline-none focus:border-[#5B3D2D]" />
              <p class="text-red-600 text-xs" *ngIf="bookingForm.get('firstName')?.touched &&
                bookingForm.get('firstName')?.invalid">
                First name required
              </p>
            </div>
            <div>
              <label class="text-xs text-gray-600">Last name</label>
              <input type="text" placeholder="Last name" formControlName="lastName"
                class="w-full border border-gray-400 px-3 py-2 text-sm outline-none focus:border-[#5B3D2D]" />
              <p class="text-red-600 text-xs" *ngIf="bookingForm.get('lastName')?.touched &&
                bookingForm.get('lastName')?.invalid">
                Last name required
              </p>
            </div>
          </div>

          <!-- Email & Phone -->
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <div>
              <label class="text-xs text-gray-600">Email</label>
              <input type="email" placeholder="Email" formControlName="email"
                class="w-full border border-gray-400 px-3 py-2 text-sm outline-none focus:border-[#5B3D2D]" />
              <p class="text-red-600 text-xs" *ngIf="bookingForm.get('email')?.touched &&
                bookingForm.get('email')?.invalid">
                Valid email required
              </p>
            </div>
            <div>
              <label class="text-xs text-gray-600">Phone</label>
              <input type="tel" placeholder="Phone" formControlName="phone"
                class="w-full border border-gray-400 px-3 py-2 text-sm outline-none focus:border-[#5B3D2D]" />
              <p class="text-red-600 text-xs" *ngIf="bookingForm.get('phone')?.touched &&
          bookingForm.get('phone')?.invalid">
                Valid phone number required
              </p>
            </div>
          </div>

          <!-- Date & Time -->
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <div>
              <label class="text-xs text-gray-600">Date</label>
              <input type="date" formControlName="appointmentDate"
                class="w-full border border-gray-400 px-3 py-2 text-sm outline-none focus:border-[#5B3D2D]" />
              <p class="text-red-600 text-xs " *ngIf="bookingForm.get('appointmentDate')?.touched &&
                bookingForm.get('appointmentDate')?.invalid">
                Date required
              </p>
            </div>
            <div>
              <label class="text-xs text-gray-600">Time</label>
              <input type="time" formControlName="appointmentTime"
                class="w-full border border-gray-400 px-3 py-2 text-sm outline-none focus:border-[#5B3D2D]"
                style="zoom: 0.75;" />
              <p class="text-red-600 text-xs mt-1" *ngIf="bookingForm.get('appointmentTime')?.touched &&
          bookingForm.get('appointmentTime')?.invalid">
                Time required
              </p>

            </div>
          </div>

          <!-- Service (Auto-tick from Cart) -->
          <div>
            <label class="text-xs text-gray-600 mb-3 block">Service</label>

            <div class="grid grid-cols-2 md:grid-cols-3 gap-3">

              <!-- Treatment Services -->
              <label class="flex items-center gap-2 border border-gray-400 rounded-lg px-3 py-3 text-sm cursor-pointer">
                <input type="checkbox" value="Derma planning" (change)="onServiceChange($event)"
                  [checked]="serviceArray.value.includes('Derma planning')" class="accent-brand-chocolate">
                Derma planning
              </label>

              <label class="flex items-center gap-2 border border-gray-400 rounded-lg px-3 py-3 text-sm cursor-pointer">
                <input type="checkbox" value="Korean-Skin" (change)="onServiceChange($event)"
                  [checked]="serviceArray.value.includes('Korean-Skin')" class="accent-brand-chocolate">
                Korean Glass Skin
              </label>

              <label class="flex items-center gap-2 border border-gray-400 rounded-lg px-3 py-3 text-sm cursor-pointer">
                <input type="checkbox" value="Lip blush" (change)="onServiceChange($event)"
                  [checked]="serviceArray.value.includes('Lip blush')" class="accent-brand-chocolate">
                Lip Blush
              </label>

              <label class="flex items-center gap-2 border border-gray-400 rounded-lg px-3 py-3 text-sm cursor-pointer">
                <input type="checkbox" value="Lip nutrilizer" (change)="onServiceChange($event)"
                  [checked]="serviceArray.value.includes('Lip nutrilizer')" class="accent-brand-chocolate">
                Lip Nutrilizer
              </label>

              <label class="flex items-center gap-2 border border-gray-400 rounded-lg px-3 py-3 text-sm cursor-pointer">
                <input type="checkbox" value="Peels" (change)="onServiceChange($event)"
                  [checked]="serviceArray.value.includes('Peels')" class="accent-brand-chocolate">
                Radiant Peels
              </label>

              <label class="flex items-center gap-2 border border-gray-400 rounded-lg px-3 py-3 text-sm cursor-pointer">
                <input type="checkbox" value="POWDER BROW" (change)="onServiceChange($event)"
                  [checked]="serviceArray.value.includes('POWDER BROW')" class="accent-brand-chocolate">
                Powder Brow
              </label>

              <label class="flex items-center gap-2 border border-gray-400 rounded-lg px-3 py-3 text-sm cursor-pointer">
                <input type="checkbox" value="Warts removal" (change)="onServiceChange($event)"
                  [checked]="serviceArray.value.includes('Warts removal')" class="accent-brand-chocolate">
                Warts Removal
              </label>

              <label class="flex items-center gap-2 border border-gray-400 rounded-lg px-3 py-3 text-sm cursor-pointer">
                <input type="checkbox" value="Hydrafacial" (change)="onServiceChange($event)"
                  [checked]="serviceArray.value.includes('Hydrafacial')" class="accent-brand-chocolate">
                Hydrafacial
              </label>

              <!-- Other Beauty Services -->
              <label
                class="flex items-center gap-2 border border-gray-400 rounded-lg px-3 py-3 text-sm cursor-pointer opacity-70">
                <input type="checkbox" value="Hair Styling" (change)="onServiceChange($event)"
                  [checked]="serviceArray.value.includes('Hair Styling')" class="accent-brand-chocolate">
                Hair Styling
              </label>

              <label
                class="flex items-center gap-2 border border-gray-400 rounded-lg px-3 py-3 text-sm cursor-pointer opacity-70">
                <input type="checkbox" value="Bridal Makeup" (change)="onServiceChange($event)"
                  [checked]="serviceArray.value.includes('Bridal Makeup')" class="accent-brand-chocolate">
                Bridal Makeup
              </label>

              <label
                class="flex items-center gap-2 border border-gray-400 rounded-lg px-3 py-3 text-sm cursor-pointer opacity-70">
                <input type="checkbox" value="Nail Artistry" (change)="onServiceChange($event)"
                  [checked]="serviceArray.value.includes('Nail Artistry')" class="accent-brand-chocolate">
                Nail Artistry
              </label>

              <label
                class="flex items-center gap-2 border border-gray-400 rounded-lg px-3 py-3 text-sm cursor-pointer opacity-70">
                <input type="checkbox" value="Silk Waxing" (change)="onServiceChange($event)"
                  [checked]="serviceArray.value.includes('Silk Waxing')" class="accent-brand-chocolate">
                Silk Waxing
              </label>

            </div>

            <p class="text-red-600 text-xs mt-1" *ngIf="bookingForm.get('service')?.touched &&
            bookingForm.get('service')?.invalid">
              Service required
            </p>
          </div>





          <!-- Success Alert -->
          <div *ngIf="successMsg"
            class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded text-sm text-center">
            ✅ Appointment booked successfully!
            Our team will contact you shortly.
          </div>

          <!-- Button -->
          <button type="submit" [disabled]="isSubmitting" class="w-full mt-4
         bg-brand-chocolate text-brand-gold
         py-3 text-sm tracking-wide
         hover:bg-brand-brown
         transition
         disabled:opacity-50
         disabled:cursor-not-allowed
         flex items-center justify-center gap-2">
            <svg *ngIf="isSubmitting" class="animate-spin h-5 w-5 text-[#EED9A8]" xmlns="http://www.w3.org/2000/svg"
              fill="none" viewBox="0 0 24 24">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
            </svg>

            <span>
              {{ isSubmitting ? 'Sending...' : 'Send message' }}
            </span>
          </button>


        </form>

      </div>

    </div>

  </div>

</section>