<section class="bg-[#D6D6D6] py-16">

  <div class="max-w-6xl mx-auto px-4">

    <!-- Video Wrapper -->
    <div class="relative overflow-hidden  shadow-xl aspect-video">

      <video class="w-full h-full object-cover" autoplay muted loop playsinline poster="assets/video/video.mp4">
        <source src="assets/video/video.mp4" type="video/mp4" />
      </video>

    </div>

    <!-- Feature Bar -->
    <div class="
        bg-[#6A4A3A]
        grid grid-cols-1 sm:grid-cols-3
        gap-8
        text-center
        py-10 px-6
        rounded-b-xl
        
      ">

      <!-- Feature 1 -->
      <div class="mt-1">
        <img src="assets/home-carts-icon/mirror.svg" class="w-10  mx-auto mb-4  " />
        <h4 class="text-[#E7C873] font-semibold mb-2">
          Professional Care
        </h4>
        <p class="text-[#E7C873] text-sm opacity-90">
          Experience expert care delivered with precision and passion.
        </p>
      </div>

      <!-- Feature 2 -->
      <div>
        <img src="assets/home-carts-icon/facewash.svg" class="w-11 mx-auto mb-4" />
        <h4 class="text-[#E7C873] font-semibold mb-2">
          Premium brands
        </h4>
        <p class="text-[#E7C873] text-sm opacity-90">
          Featuring only the finest brands trusted worldwide.
        </p>
      </div>

      <!-- Feature 3 -->
      <div>
        <img src="assets/home-carts-icon/flower.svg" class="w-11 mx-auto mb-4" />
        <h4 class="text-[#E7C873] font-semibold mb-2">
          Natural cosmetic
        </h4>
        <p class="text-[#E7C873] text-sm opacity-90">
          Embrace beauty powered by nature’s pure ingredients.
        </p>
      </div>

    </div>

  </div>
</section>