<section
  class="bg-[#E6E6E4] py-35 relative overflow-hidden reveal"
  
>

  <!-- Background Shape -->

<div class="absolute inset-y-0 pointer-events-none  " >
  <img
    src="assets/home-carts/bg.png"
    alt="background-shape"
    class="
      h-full
      w-full
      object-cover     
       
      scale-110 reveal-img
    "
  />
</div>


  <div class="relative z-10 max-w-7xl mx-auto px-6 grid grid-cols-1 lg:grid-cols-2 gap-12 items-center">

    <!-- LEFT EMPTY SPACE -->
    <div class="hidden lg:block "></div>

    <!-- RIGHT CONTENT -->
    <div class="reveal-">

      <h2 class="text-3xl md:text-4xl font-serif text-[#5B3D2D] mb-4 letter-animate">
        Treatments
      </h2>

      <p class="text-gray-600 mb-8 letter-animate">
        Transparent pricing for personalized, high-quality care.
      </p>

      <!-- Treatment Lists -->
      <div class="flex gap-6 sm:grid sm:grid-cols-2 text-sm font-medium text-gray-800 reveal-img-right">

        <ul class="space-y-4 w-1/2 sm:w-auto">
          <li class="treatment-item bg-[#CBB088] text-[#5B3D2D] px-2 py-1 w-fit  rounded ">☰ Derma planning</li>
          <li class="treatment-item bg-[#CBB088] text-[#5B3D2D] px-2 py-1 w-fit rounded ">☰ Korean Glass Skin</li>
          <li class="treatment-item bg-[#CBB088] text-[#5B3D2D] px-2 py-1 w-fit rounded ">☰ Lip Blush</li>
          <li class="treatment-item bg-[#CBB088] text-[#5B3D2D] px-2 py-1 w-fit rounded ">☰ Lip Nutrilizer</li>
        </ul>

        <ul class="space-y-4 w-1/2 sm:w-auto">
          <li class="treatment-item bg-[#CBB088] text-[#5B3D2D] px-2 py-1 w-fit rounded ">☰ Radiant Peels</li>
          <li class="treatment-item bg-[#CBB088] text-[#5B3D2D] px-2 py-1 w-fit rounded ">☰ Powder Brow</li>
          <li class="treatment-item bg-[#CBB088] text-[#5B3D2D] px-2 py-1 w-fit rounded ">☰ Warts Removal</li>
          <li class="treatment-item bg-[#CBB088] text-[#5B3D2D] px-2 py-1 w-fit rounded ">☰ Hydrafacial</li>
        </ul>

      </div>

      <!-- View All -->
      <div class="mt-10 ">
        <a
          routerLink="/treatment-services"
          class="text-[#5B3D2D] underline font-medium hover:text-black transition"
        >
          View all
        </a>
      </div>

    </div>
  </div>

</section>